
@{
    ViewData["Title"] = "Index";
}

<head>
    <style>
        #price {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #price td, #price th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #price tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #price tr:hover {
                background-color: #ddd;
            }

            #price th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #0b0833;
                color: white;
            }
    </style>
</head>

<body>
    <br />
    <div class="container">
        <h1 class="text-center" style="font-family: 'Comic Sans MS'">Business Standard</h1><br />
        <p style="text-align: justify; font-family: 'Comic Sans MS'">&nbsp;&nbsp;&nbsp;<a href="https://www.business-standard.com/" target="_blank">Business Standard</a> stands for reporting that stresses accuracy and credibility, comment that is informed, independent and fair, and journalism that is rooted in ethical conduct and defined by a sacrosanct bond with the reader. All Business Standard journalists sign on to a code of conduct that is available on this website.It is published from 12 centers - Mumbai, New Delhi, Kolkata, Bangalore, Chennai, Ahmedabad, Hyderabad, Chandigarh, Lucknow, Pune, Kochi and Bhubaneswar.Business Standard subscription offers are listed below. Don’t miss another issue, subscribe today!</p><br />
        <table id="price">
            <tr>
                <th>Price/Month</th>
                <th>Cash for Scrap</th>
                <th>Save Upto</th>
            </tr>
            <tr>
                <td>Rs.160</td>
                <td>Rs.140</td>
                <td>25%</td>
            </tr>

        </table>
    </div>
</body>

