
@{
    ViewData["Title"] = "Index";
}

<head>
    <style>
        #price {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #price td, #price th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #price tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #price tr:hover {
                background-color: #ddd;
            }

            #price th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #0b0833;
                color: white;
            }
    </style>
</head>
<body>
    <br />
    <div class="container">
        <h1 class="text-center" style="font-family: 'Comic Sans MS'">The Economic Times</h1><br />
        <p style="text-align: justify; font-family: 'Comic Sans MS'">&nbsp;&nbsp;&nbsp;<a href="https://economictimes.indiatimes.com/defaultinterstitial.cms" target="_blank">The Economic Times</a> is an English-language Indian daily newspaper published by the Bennett, Coleman & Co. Ltd., more popularly known as The Times Group. The Economic Times, started in 1961, is Asia's largest and among the world's top 3 English Business dailies. The Economic Times is India's No.1 Print English Business Daily with www.economictimes.com as the No. 1 Business News website in the country. The Economic Times also has Vernacular Editions, Mobile Site and Portfolio Management Tool. Business Standard subscription offers are listed below. Don’t miss another issue, subscribe today!</p><br />
        <table id="price">
            <tr>
                <th>Price/Month</th>
                <th>Cash for Scrap</th>
                <th>Save Upto</th>
            </tr>
            <tr>
                <td>Rs.160</td>
                <td>Rs.150</td>
                <td>25%</td>
            </tr>

        </table><br />
        <center>
            <div class="row button" style="margin-left: 500px;">
                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-dark">Back</a>
            </div>
        </center>
    </div>
</body>
