
@{
    ViewData["Title"] = "Index";
}

<head>
    <style>
        #price {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #price td, #price th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #price tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #price tr:hover {
                background-color: #ddd;
            }

            #price th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #0b0833;
                color: white;
            }
    </style>
</head>
<body>
    <br />
    <div class="container">
        <h1 class="text-center" style="font-family: 'Comic Sans MS'">Indian era</h1><br />
        <p style="text-align: justify; font-family: 'Comic Sans MS'">&nbsp;&nbsp;&nbsp;<a href="https://www.indianera.com/" target="_blank">'Indian Era'</a> newspaper mainly concentrates on providing factual information without any prejudice to whom so ever may be in the ruling side. The contrast between the news pages and the editorial section is sufficient enough to prove this point.This news paper maily focuses on health, personal finance, education, travel, opinion, national and international news, sports news, entertainment, business and market updates. It has a new paper format in sync with modern day reading style . Monthly price of "Indian Era" news paper is listed below. To start this paper delivery at your home click on Subscribe now!</p><br />
        <table id="price">
            <tr>
                <th>Price/Month</th>
                <th>Cash for Scrap</th>
                <th>Save Upto</th>
            </tr>
            <tr>
                <td>Rs.160</td>
                <td>Rs.140</td>
                <td>25%</td>
            </tr>

        </table><br />
        <center>
            <div class="row button" style="margin-left: 500px;">
                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-dark">Back</a>
            </div>
        </center>
    </div>
</body>

