
@{
    ViewData["Title"] = "Index";
}

<head>
    <style>
        #price {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #price td, #price th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #price tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #price tr:hover {
                background-color: #ddd;
            }

            #price th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #0b0833;
                color: white;
            }
    </style>
</head>

<body>
    <br />
    <div class="container">
        <h1 class="text-center" style="font-family: 'Comic Sans MS'">The Hindu</h1><br />
        <p>Get Premium Subscription of Hindu E-Paper at lowest price across the web. Benefits of E-Paper Include :</p>
        <ul>
            <li>Exact replica of your daily newspaper</li>
            <li>Acess to premium Hindu Content</li>
            <li>Completely Downloadable pdf</li>
            <li>Access to Old Papers and Archives</li>
        </ul>
        <table id="price">
            <tr>
                <th>Price/Month</th>
                <th>Cash for Scrap</th>
                <th>Save Upto</th>
            </tr>
            <tr>
                <td>Rs.160</td>
                <td>Rs.140</td>
                <td>25%</td>
            </tr>

        </table><br />
        <center>
            <div class="row button" style="margin-left: 500px;">
                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-dark">Back</a>
            </div>
        </center>
    </div>
</body>

