@model NewspaperKart.Models.Newspapertbl


@{
    ViewData["Title"] = "AddNewspaper";
}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="container">
        <br />

        <center>
            <h2 class="text-center" style="display: inline-block; margin-left: auto; font-family: 'Comic Sans MS'">Add Newspaper</h2>
        </center>
        @*<a asp-action="Index" asp-controller="Subscription" class="btn btn-info" style="display: inline-block; float: right;">My Subscriptions</a>*@
        <div class="formclass">
            <div class="wrapper">
                <div class="title"><span>Newspaper form</span></div>
                <form asp-action="AddNewspaper" style="border: 2px solid #006953; border-radius: 0 0 10px 10px; ">
                    <div class="row" style="margin-bottom: 0.7cm;">
                        <i class="fas fa-user"></i>
                        <input asp-for="Title" type="text" placeholder="Title" required>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="row" style="margin-bottom: 0.7cm;">
                        <i class="fa fa-language" aria-hidden="true"></i>
                        <input asp-for="Language" type="text" placeholder="Language" required>
                        <span asp-validation-for="Language" class="text-danger"></span>
                    </div>
                    <div class="row" style="margin-bottom: 0.7cm;">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <input asp-for="Price" type="tel" placeholder="Price" required>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="row button">
                        <input type="submit" value="Submit" class="btn btn-info">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
