@model NewspaperKart.Models.DeliveryPartnertbl


@{
    ViewData["Title"] = "AddDeliveryPartner";
}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="container">
        <br />

        <center>
            <h2 class="text-center" style="display: inline-block; margin-left: auto; font-family: 'Comic Sans MS'">Add Delivery Partner</h2>
        </center>
        <div class="formclass">
            <div class="wrapper">
                <div class="title"><span>Newspaper form</span></div>
                <form asp-action="AddDeliveryPartner" style="border: 2px solid #006953; border-radius: 0 0 10px 10px; ">
                    <div class="row" style="margin-bottom: 0.7cm;">
                        <i class="fas fa-user"></i>
                        <input asp-for="Name" type="text" placeholder="Name" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="row" style="margin-bottom: 0.7cm;">
                        <i class="fa fa-language" aria-hidden="true"></i>
                        <input asp-for="Phoneno" type="text" placeholder="Phoneno" required>
                        <span asp-validation-for="Phoneno" class="text-danger"></span>
                    </div>
                    <div class="row" style="margin-bottom: 0.7cm;">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <input asp-for="Location" type="tel" placeholder="Location" required>
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="row button">
                        <input type="submit" value="Submit" class="btn btn-info">
                    </div>
                    <div class="row button">
                        <a asp-action="Vendor" asp-controller="Home" class="btn btn-outline-dark" style="width: 450px; background-color: #04211b; color: white;">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
