@using Microsoft.AspNetCore.Http
@using System.Linq
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewBag.Cust = @HttpContextAccessor.HttpContext.Session.GetString("CustUsername");
    ViewBag.Admin = @HttpContextAccessor.HttpContext.Session.GetString("AdminUsername");
    ViewBag.Vendor = @HttpContextAccessor.HttpContext.Session.GetString("VendorUsername");
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <style>
        :root {
            --surface-color: #fff;
            --curve: 40;
        }

        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Noto Sans JP', sans-serif;
            background-image: url("https://t3.ftcdn.net/jpg/02/25/93/64/400_F_225936432_Z3LJv0fJRvONuhyOzjsxHj0O7BoBq1zF.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-bottom: 1px;
        }

            body::-webkit-scrollbar {
                width: 0 !important
            }

        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 2rem;
            margin: 2.5rem 1vw;
            margin-left: 10px;
            padding: 0;
            list-style-type: none;
            margin-bottom: 1px;
            border: 1px solid 1px;
        }

        .card {
            position: relative;
            display: block;
            height: 100%;
            border-radius: calc(var(--curve) * 1px);
            overflow: hidden;
            text-decoration: none;
        }

        .card__image {
            width: 100%;
            height: auto;
        }

        .card__overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            border-radius: calc(var(--curve) * 1px);
            background-color: var(--surface-color);
            transform: translateY(100%);
            transition: .2s ease-in-out;
        }

        .card:hover .card__overlay {
            transform: translateY(0);
        }

        .card__header {
            position: relative;
            display: flex;
            align-items: center;
            gap: 2em;
            padding: 2em;
            border-radius: calc(var(--curve) * 1px) 0 0 0;
            background-color: #cdbdff;
            transform: translateY(-100%);
            transition: .2s ease-in-out;
        }

        .card__arc {
            width: 80px;
            height: 80px;
            position: absolute;
            bottom: 100%;
            right: 0;
            z-index: 1;
        }

            .card__arc path {
                fill: var(--surface-color);
            }

        .card:hover .card__header {
            transform: translateY(0);
        }

        .card__thumb {
            flex-shrink: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .card__title {
            font-size: 1em;
            margin: 0 0 .3em;
            color: black;
        }

        .card__tagline {
            display: block;
            margin: 1em 0;
            font-family: "MockFlowFont";
            font-size: .8em;
            color: #D7BDCA;
        }

        .card__status {
            font-size: .8em;
            color: #180454;
        }

        .neon {
            color: #423c3c;
            text-shadow: 0 0 5px #423c3c, 0 0 10px #423c3c, 0 0 20px #423c3c, 0 0 30px #423c3c, 0 0 40px #423c3c;
        }
    </style>
</head>

<body>
    <div class="container">
        <br />
        <p style="font-family: 'Comic Sans MS'; color: black; text-align: center; font-size: 30px;" class="neon">WELCOME TO NEWSPAPER KART</p>
        <ul class="cards">
            <li>
                @if (ViewBag.Cust == null)
                {
                    <a asp-action="AddCustomer" asp-controller="Customer" class="card">
                        <img src="~/images/Custgif.gif" class="card__image" alt="" style="height: 350px;" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <img class="card__thumb" src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png" alt="" />
                                <div class="card__header-text">
                                    <h3 class="card__title">User</h3>
                                    <span class="card__status">Login as a user</span>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <a asp-action="Index" asp-controller="Home" class="card">
                        <img src="~/images/Custgif.gif" class="card__image" alt="" style="height: 350px;" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <img class="card__thumb" src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png" alt="" />
                                <div class="card__header-text">
                                    <h3 class="card__title">User</h3>
                                    <span class="card__status">Login as a user</span>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </li>
            <li>
                @if (ViewBag.Admin == null)
                {
                    <a asp-controller="Admin" asp-action="AddAdmin" class="card">
                        <img src="~/images/admingif.gif" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <img class="card__thumb" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLzi8P9Z8RNkDxO7TSfCTcMN3PkJKyG9rMJw&usqp=CAU" alt="" />
                                <div class="card__header-text">
                                    <h3 class="card__title">Admin</h3>
                                    <span class="card__status">Login as an admin</span>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="Admin" class="card">
                        <img src="~/images/admingif.gif" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <img class="card__thumb" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLzi8P9Z8RNkDxO7TSfCTcMN3PkJKyG9rMJw&usqp=CAU" alt="" />
                                <div class="card__header-text">
                                    <h3 class="card__title">Admin</h3>
                                    <span class="card__status">Login as an admin</span>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </li>
            <li>
                @if (ViewBag.Vendor == null)
                {
                    <a asp-action="AddVendor" asp-controller="Vendor" class="card">
                        <img src="~/images/vendorgif.gif" style="height: 300px;" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <img class="card__thumb" src="https://cdn3.vectorstock.com/i/1000x1000/70/02/cartoon-newspaper-boy-yelling-vector-16707002.jpg" alt="" />
                                <div class="card__header-text">
                                    <h3 class="card__title">Vendor</h3>
                                    <span class="card__status">Login as a vendor</span>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <a asp-action="Vendor" asp-controller="Home" class="card">
                        <img src="~/images/vendorgif.gif" style="height: 300px;" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <img class="card__thumb" src="https://cdn3.vectorstock.com/i/1000x1000/70/02/cartoon-newspaper-boy-yelling-vector-16707002.jpg" alt="" />
                                <div class="card__header-text">
                                    <h3 class="card__title">Vendor</h3>
                                    <span class="card__status">Login as a vendor</span>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </li>
        </ul>
    </div>
</body>