<head>
    <style>
        .tiles .link-tiles {
            margin-bottom: 20px;
            background: #090226;
            height: 137px;
        }

            .tiles .link-tiles a {
                display: inline-flex;
                width: 100%;
                height: 100%;
                align-items: center;
                position: relative;
                color: white;
                font-weight: 500;
                font-size: 17px;
                line-height: 20px;
                padding-left: 2.2rem;
                text-transform: uppercase;
                border-radius: 5px;
                text-decoration: none;
            }


        .link-tiles:hover {
            background: #0f194d;
            transition: all, 0.4s, ease;
        }

            .link-tiles:hover a {
                color: lightgreen;
            }

            .link-tiles:hover a {
                color: lightgreen;
            }
    </style>
</head>
<body>
    <div class="justify-content-xl-center" align="center">
        <br />
        <section class="tiles">
            <div class="container">
                <h2 style="font-family: 'Comic Sans MS'">Vendor Dashboard</h2>
                <br /><br />
                <div class="row">
                    <div class="col-md-3">
                        <div class="link-tiles" style="border-radius: 10px; padding-left: 1rem;">
                            @Html.ActionLink("Delivery Partner", "ViewDelivery", "Delivery")
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="link-tiles" style="padding-left: 1rem; border-radius: 10px;">
                            @Html.ActionLink("Subscription List", "CustomerList", "Customer")
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="link-tiles" style=" border-radius: 10px; padding-right: 2rem;">
                            @Html.ActionLink("Add Delivery Partner", "AddDeliveryPartner", "AddDeliveryPartner")
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="link-tiles" style="border-radius: 10px;  padding-left: 3rem;">
                            @Html.ActionLink("Contact", "ViewContact", "Contact")
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>



