@model NewspaperKart.Models.Subscriptiontbl

@using Microsoft.AspNetCore.Http
@using System.Linq
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "AddSubscription";
    //ViewBag.Name = @HttpContextAccessor.HttpContext.Request.Cookies["NewsList"];
    //var news = ViewData["NewsList"] as NewspaperKart.Models.Newspapertbl;
    ViewBag.CustId = HttpContextAccessor.HttpContext.Session.GetInt32("CustUserId");
    ViewBag.CustName = HttpContextAccessor.HttpContext.Session.GetString("CustUsername");
}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="~/css/style.css" />

       
</head>

<body>
    <div class="container">
        <br />

        <h2 class="text-center" style="display: inline-block; margin-left: 40%; font-family: 'Comic Sans MS'">Subscribe Here!</h2>
        <a asp-action="Index" asp-controller="Subscription" class="btn btn-info" style="display: inline-block; float: right;">My Subscriptions</a>
        <div class="formclass">
            <div class="wrapper">
                <div class="title"><span>Subscription form</span></div>
                <form asp-action="AddSubscription" style="border: 2px solid #006953; border-radius: 0 0 10px 10px; " autocomplete="off">
                    <div class="row" style="margin-bottom: 0.7cm;">
                        <i class="fa fa-id-card" aria-hidden="true"></i>
                        <input asp-for="CustId" type="number" placeholder="Customer Id" autocomplete="chrome-off" value="@ViewBag.CustId" required readonly>
                        <span asp-validation-for="CustId" class="text-danger"></span>
                    </div>
                    <div class="row" style="margin-bottom: 0.7cm;">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input asp-for="Name" type="text" placeholder="Name" value="@ViewBag.CustName" required readonly>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="row" style="margin-bottom: 0.7cm;">
                        <i class="fa fa-id-card" aria-hidden="true"></i>
                        <input asp-for="TitleId" type="number" placeholder="Title Id" required>
                        @*<select>
                                @foreach (Newspapertbl newslist in (List<Newspapertbl>)ViewBag.NewsList)
                                {
                                    <option>@newslist.Id</option>
                                }
                            </select>*@
                        <span asp-validation-for="TitleId" class="text-danger"></span>
                    </div>
                    <div class="row" style="margin-bottom: 0.7cm;">
                        <i class="fa fa-sort" aria-hidden="true"></i>
                        <select asp-for="Subscriptiontype">
                            <option value="">Select subscription type</option>
                            <option value="Digital">Digital</option>
                            <option value="Print">Print</option>
                        </select>
                        <span asp-validation-for="Subscriptiontype" class="text-danger"></span>
                    </div>
                    <div class="row" style="margin-bottom: 0.7cm;">
                        <i class="fa fa-hourglass" aria-hidden="true"></i>
                        <select asp-for="Timeperiod" asp-items="ViewBag.TimePeriod">
                            <option value="">Select Time period</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Annual">Annual</option>
                        </select>
                        <span asp-validation-for="Timeperiod" class="text-danger"></span>
                    </div>
                    <div class="row button">
                        <input type="submit" value="Submit" class="btn btn-info">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
